body{
    background-color: beige;
}
div{
    background-color:darkkhaki;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 28px;
    text-align: center;
}
input{

}